.env
env
venv
temp
tmp
__pycache__

*.pyc
*.sqlite
*.coverage
.DS_Store
env.sh
migrations
.sass-cache
main.css
*node_modules*


# Compiled files
project/client/static/js/index.js
project/client/static/stylesheets/main.css*